@import "default";

$primary-color: tomato;
$primary-font: sans-serif, "cursive";

body{
    background: $primary-color;
    font-family: $primary-font;
}

.container{
    width: 100%;
    height: 100px;
    nav {
        ul{
            li{
                font-size: 1em;
            }
        }
        a {
            text-decoration: none;
        }
    }
}

@mixin transform_Me($prop1, $prop2){
    width: $prop1;
    height: $prop2;
    background-color: yellow;
}

#button1 {
    @include transform_Me(400px, 500px )
}

#button2 {
    @include transform_Me(200px, 300px)
}